<?xml version="1.0"?>
<config>
	<headers>
		<header name="Name"/>
		<header name="Data Source"/>
		<header name="Layer Type"/>
		<header name="Verified?"/>
		<header name="Loaded?" update="Y"/>
		<header name="SDE Name" update="Y"/>
		<header name="SDE Conn" update="Y"/>
		<header name="Livelink Link"/>
		<header name="Definition Query"/>
		<header name="Description"/>
	</headers>
    <sources>
        <source name="MOZGIS" path="\\anadarko.com\world\SharedData\Houston\IntlDeepW\MOZAMBIQUE\MOZGIS\"/>
        <source name="MOZGIS" path="L:\SharedData\Houston\IntlDeepW\MOZAMBIQUE\MOZGIS\"/>
        <source name="LNG" path="\\anadarko.com\world\SharedData\Houston\Mozambique LNG\"/>
        <source name="LNG" path="L:\SharedData\Houston\Mozambique LNG\"/>
        <source name="Raster_Depot" path="\\anadarko.com\expdata\Houston\gngdata\raster_depot\"/>
    </sources>
    <targets>
        <target name="MOZGIS">
            <sdeConn>C:\Users\kdb086\Documents\ArcGIS\SDE2T_MOZ_GIS.sde</sdeConn>
            <rasterDepot>\\anadarko.com\expdata\Houston\gngdata\raster_depot1\Mozambique\MOZGIS\</rasterDepot>
            <livelink>http://wwprojectstest.anadarko.com/projects/llisapi.dll?func=ll&amp;objId=33642312&amp;objAction=browse&amp;viewType=1</livelink>
        </target>
        <target name="LNG">
            <sdeConn>C:\Users\kdb086\Documents\ArcGIS\SDE2T_MOZ_LNG.sde</sdeConn>
            <rasterDepot>\\anadarko.com\expdata\Houston\gngdata\raster_depot1\Mozambique\MozambiqueLNG\</rasterDepot>
            <livelink>http://wwprojectstest.anadarko.com/projects/llisapi.dll?func=ll&amp;objId=33638511&amp;objAction=browse&amp;viewType=1</livelink>
        </target>
    </targets>
    <dataCategories>
        <dataCategory key="BIO" name="BIOLOGICAL"/>
        <dataCategory key="BND" name="BOUND"/>
        <dataCategory key="ELV" name="BATHY"/>
        <dataCategory key="ELV" name="ELEV"/>
        <dataCategory key="ELEV" name="ELEV"/>
        <dataCategory key="FAU" name="FAULTS"/>
        <dataCategory key="GEOL" name="GEOLOGY"/>
        <dataCategory key="GET" name="GEOTECH"/>
        <dataCategory key="GPH" name="GEOPHYSICS"/>
        <dataCategory key="HYD" name="HYDRO"/>
        <dataCategory key="HYD" name="HYDROLOGY"/>
        <dataCategory key="INF" name="INFRASTRUCT"/>
        <dataCategory key="LAND" name="LAND"/>
        <dataCategory key="LSE" name="LEASE"/>
        <dataCategory key="REF" name="REFERENCE"/>
        <dataCategory key="STR" name="STRUCT"/>
        <dataCategory key="TRN" name="TRANS"/>
        <dataCategory key="TRAN" name="TRANS"/>
        <dataCategory key="VEN" name="VENDOR"/>
        <dataCategory key="WELL" name="WELL"/>
    </dataCategories>
	<nameChanges>
		<nameChange old="STR_DU_CCSJV_Bog_Comp_Flare_Drum_Meg_Storage_P" new="STR_DU_CCSJV_Flare_Drum_Meg_P" type="word"/>
		<nameChange old="BND_DU_LivelihoodDevelopmentZone_F" new="BND_DU_Livelihood_Dev_F" type="word"/>
		<nameChange old="INF_AF_ArchaeologicalImportance_F" new="INF_AF_Archae_Importance_F" type="word"/>
		<nameChange old="FishermenDistributionRoutes_RAP_1_09_2015" new="Fishermen_Dist_Rt_RAP_20150901" type="word"/>
		<nameChange old="BND_Quelimane_Nsemo_Rd_Markers_Kms" new="BND_QN_Rd_Markers_Kms" type="word"/>	
		<nameChange old="BND_Quelimane_Nsemo_Profile_IndexGrid_20170626" new="BND_QN_Profile_IdxGrd_20170626" type="word"/>
		<nameChange old="BND_Patacua_Maganja_Rd_Markers_Kms" new="BND_PM_Rd_Markers_Kms" type="word"/>
		<nameChange old="BND_Coastline_Polyline_ForVisualization_20170622" new="BND_Coastline_For_Vis_20170622" type="word"/>
		<nameChange old="BND_Palma_Afungi_InsideDUAT_50MBufferEitherSide_CZ_20170623" new="BND_PB_Afg_50MBuf_CZ_20170623" type="word"/>
		<nameChange old="EnviroInsight_AlanWattsModified_Wetlands_20170210" new="EI_AW_Wetlands_20170210" type="word"/>
		<nameChange old="EnviroInsight_AlanWattsModified_WetlandsBuffer150m_20170210" new="EI_AW_Wetlands_Bf150m_20170210" type="word"/>
		<nameChange old="BND_ProposedAirstripTurf_AOI_CZ_20170208" new="BND_Prop_ASTrf_AOI_CZ_20170208" type="word"/>
		<nameChange old="BND_Afungi_Airstrip_AOI_Assets_CZ_20170309" new="BND_Afg_Airstp_AOI_CZ_20170309" type="word"/>
		<nameChange old="HYD_RplcLand_RainMntr_Grid_1km2" new="HYD_RplcLand_RainMntr_1km2" type="word"/>
		<nameChange old="BND_CCSJV_PriorityAreas_20161108" new="BND_CCSJV_Priority_20161108" type="word"/>
		<nameChange old="BND_CCSJV_Priority_Areas_For_Rst" new="BND_CCSJV_Priority_Rst" type="word"/>
		<nameChange old="BND_ES_BaselineEstablishment_Transects_20161212" new="BND_ES_Baseln_Estab_20161212" type="word"/>
		<nameChange old="BND_Buffer_200m_VegiClear_20161011" new="BND_VegiClr_Buf_200m_20161011" type="word"/>
		<nameChange old="INF_Realigned_PowLn_33kv_20160912" new="INF_Realg_PowLn_33kv_20160912" type="word"/>
		<nameChange old="BND_PB_InstallationActivities_AvoidanceArea_Vtx_P" new="BND_PB_Install_Avoidance_Vtx_P" type="word"/>
		<nameChange old="BND_Prop_Helipad_HLZ_SouthApproach_20161013" new="BND_Prop_Helipad_HLZ_20161013" type="word"/>
		<nameChange old="ECO_DU_EnviroInsight_HabitatType_P" new="ECO_DU_EI_HabitatType_P" type="word"/>
		<nameChange old="INF_AF_ERM_CulturalHeritage_SiteInventory_F" new="INF_AF_ERM_Cult_Heritage_Ste_F" type="word"/>
		<nameChange old="BND_PB_Macala_Mangala_Bypass_Buf_200M" new="BND_PB_MM_Byp_Buf_200M" type="word"/>
		<nameChange old="STR_AF_Reset_Vlg_Opt1_Lyt_Poly_P" new="STR_AF_Reset_Vlg_Opt1_Poly_P" type="word"/>
		<nameChange old="STR_GF_GolfinhoLandingAndValve_P" new="STR_GF_LandingAndValve_P" type="word"/>
		<nameChange old="ELV_Palma_Bay_Ctur_Ln_20160422_37S" new="ELV_PB_Ctur_Ln_20160422_37S" type="word"/>
		<nameChange old="BND_RV_VegiClear_50mBuffDissolve_20161012" new="BND_RV_VegiClr_50mBfD_20161012" type="word"/>
		<nameChange old="BND_RV_VegiClear_50mBuffer_20161012" new="BND_RV_VegiClr_50mBuf_20161012" type="word"/>
		<nameChange old="BND_DU_ReplacementVill_Section2_BoreholeFd_Buf_200M" new="BND_DU_ReplVlg_S2_BHFd_Buf200M" type="word"/>
		<nameChange old="BND_Prop_DeminingAreas_ExcludeDemined28June2016" new="BND_Prop_Dem_Exclude_20160628" type="word"/>
		<nameChange old="TRN_Patacua_Mganja_NewRdAlignment_GH_20170630" new="TRN_PM_NewRdAlign_GH_20170630" type="word"/>
		<nameChange old="STR_DU_CCSJV_Bog_Comp_Flare_Drum_Meg_Stg_P" new="STR_DU_CCSJV_Flare_Drum_Meg_P" type="word"/>
		<nameChange old="ECO_DU_Closed_Berlinia_Orientalis_woodland_forest_No_Longer_Present_AlanWatts_20170306_P" new="ECO_DU_woodland_AW_20170306_P" type="word"/>
	</nameChanges>
	<shortHands>
		<shortHand key="Bndy" name="Boundary" type="GIS"/>
		<shortHand key="Bnds" name="Bounds" type="GIS"/>
		<shortHand key="Buf" name="Buffer" type="GIS"/> 
		<shortHand key="Clp" name="Clipped" type="GIS"/> 
		<shortHand key="Coord" name="Coordinate" type="GIS"/>
		<shortHand key="Coord" name="Coordinates" type="GIS"/>
		<shortHand key="RefPt" name="ReferencePt" type="GIS"/>
		<shortHand key="RefPt" name="ReferencePts" type="GIS"/>
		<shortHand key="GeoRef" name="Georeferenced" type="GIS"/>
		<shortHand key="Otln" name="Outline" type="GIS"/>
		<shortHand key="Crdr" name="Corridor" type="GIS"/>
		<shortHand key="Ctd" name="centroid" type="GIS"/>
		<shortHand key="Ctr" name="center" type="GIS"/>
		<shortHand key="Ctur" name="Contour" type="GIS"/>
		<shortHand key="Ctur5m" name="Contours5m" type="GIS"/>
		<shortHand key="Ctur5m" name="Contour5m" type="GIS"/>
		<shortHand key="Ctur1m" name="Contours1m" type="GIS"/>
		<shortHand key="Ctur1m" name="Contour1m" type="GIS"/>
		<shortHand key="50mCtur" name="50mContours" type="GIS"/>
		<shortHand key="5mCtur" name="5mContours" type="GIS"/>
		<shortHand key="5mCtur" name="5mContour" type="GIS"/>
		<shortHand key="1mCtur" name="1mContours" type="GIS"/>
		<shortHand key="1mCtur" name="1mContour" type="GIS"/>
		<shortHand key="Pt" name="Point" type="GIS"/>
		<shortHand key="Pt" name="Points" type="GIS"/>
		<shortHand key="Ln" name="Line" type="GIS"/>
		<shortHand key="Ln" name="Lines" type="GIS"/>
		<shortHand key="Vtx" name="Vertex" type="GIS"/>
		<shortHand key="Vtx" name="Vertices" type="GIS"/>
		<shortHand key="" name="Area" type="GIS"/> <!--omit--> 
		<shortHand key="" name="Areas" type="GIS"/> <!--omit--> 
		<shortHand key="" name="Map" type="GIS"/> <!--omit--> 
		<shortHand key="" name="Maps" type="GIS"/> <!--omit--> 
		<shortHand key="" name="Label" type="GIS"/> <!--omit--> 
		<shortHand key="" name="Labels" type="GIS"/> <!--omit--> 
		<shortHand key="S" name="South" type="GIS"/>
		<shortHand key="N" name="North" type="GIS"/>
		<shortHand key="W" name="West" type="GIS"/>
		<shortHand key="E" name="East" type="GIS"/>
		
		<shortHand key="Afg" name="Afungi" type="PRJ"/>
		<shortHand key="GF" name="Golfinho" type="PRJ"/>
		<shortHand key="PB" name="PalmaBay" type="PRJ"/>
		<shortHand key="PR" name="Prosperidade" type="PRJ"/>
		<shortHand key="MB" name="Mamba" type="PRJ"/>
		<shortHand key="MZ" name="Mozambique" type="PRJ"/>
		<shortHand key="GfnoPLN" name="GolfinhoPipeline" type="PRJ"/>
		<shortHand key="MbaPLN" name="MambaPipeline" type="PRJ"/>
		<shortHand key="PioCmp" name="PioneerCamp" type="PRJ"/>
		<shortHand key="RnMntr" name="RainMonitoring" type="PRJ"/>
		<shortHand key="Espm" name="Escarpment" type="PRJ"/>
		<shortHand key="Rst" name="Resettlement" type="PRJ"/>
		<shortHand key="Sec" name="Section" type="PRJ"/>
		<shortHand key="TZA" name="Tanzania" type="PRJ"/>
		<shortHand key="Rplc" name="Replacement" type="PRJ"/>
		<shortHand key="RplLand" name="ReplacementLand" type="PRJ"/>
		<shortHand key="RplVlg" name="ReplacementVillage" type="PRJ"/>
		<shortHand key="VegClr" name="VegetationClearance" type="PRJ"/>
		<shortHand key="Stg" name="Storage" type="PRJ"/>
		<shortHand key="Mar" name="Marine" type="PRJ"/>
		<shortHand key="Dem" name="DeminingAreas" type="PRJ"/>
		<shortHand key="Dem" name="Demining" type="PRJ"/>
		<shortHand key="Ste" name="Sites" type="PRJ"/>
		<shortHand key="PowLn" name="Powerline" type="PRJ"/>
		<shortHand key="AS" name="Airstrip" type="PRJ"/> 
		<shortHand key="Pfl" name="Profiler" type="PRJ"/> 
		<shortHand key="Pfl" name="Profile" type="PRJ"/> 

		<shortHand key="Archae" name="Archaelogical" type="ORD"/>
		<shortHand key="ADRO" name="Aerodrome" type="ORD"/>
		<shortHand key="Addl" name="Additional" type="ORD"/>
		<shortHand key="Act" name="Activity" type="ORD"/> 
		<shortHand key="Act" name="Activities" type="ORD"/> 
		<shortHand key="Cesn" name="Concession" type="ORD"/>
		<shortHand key="Const" name="Construction" type="ORD"/>
		<shortHand key="Compl" name="Completed" type="ORD"/>
		<shortHand key="Compl" name="Complete" type="ORD"/>
		<shortHand key="Compl" name="Completion" type="ORD"/>
		<shortHand key="Lyt" name="Layout" type="ORD"/>
		<shortHand key="Conti" name="Continental" type="ORD"/>
		<shortHand key="Charz" name="Characterization" type="ORD"/>
		<shortHand key="Ctlg" name="Catalog" type="ORD"/>
		<shortHand key="Drg" name="Dredge" type="ORD"/>
		<shortHand key="DrgDspo" name="DredgeDisposal" type="ORD"/>
		<shortHand key="Fac" name="Facility" type="ORD"/>
		<shortHand key="Fac" name="Facilities" type="ORD"/>
		<shortHand key="" name="From" type="ORD"/>
		<shortHand key="" name="Extracted" type="ORD"/>
		<shortHand key="Exg" name="Existing" type="ORD"/>
		<shortHand key="GeoPhy" name="Geophysical" type="ORD"/>
		<shortHand key="Ofld" name="Offloading" type="ORD"/>
		<shortHand key="Opn" name="Operation" type="ORD"/>
		<shortHand key="Opt" name="Option" type="ORD"/>
		<shortHand key="Opt1" name="Option1" type="ORD"/>
		<shortHand key="PLN" name="Pipeline" type="ORD"/>
		<shortHand key="Prop" name="Proposed" type="ORD"/>
		<shortHand key="Onsh" name="Onshore" type="ORD"/>
		<shortHand key="Ofsh" name="Offshore" type="ORD"/>
		<shortHand key="Alt" name="Alternate" type="ORD"/>
		<shortHand key="Bch" name="Beach" type="ORD"/>
		<shortHand key="Dev" name="Development" type="ORD"/>
		<shortHand key="Dply" name="Deployment" type="ORD"/>
		<shortHand key="Ldg" name="Landing" type="ORD"/>
		<shortHand key="Dspo" name="Disposal" type="ORD"/>
		<shortHand key="DspoArea" name="DisposalArea" type="ORD"/>
		<shortHand key="Pote" name="Potential" type="ORD"/>
		<shortHand key="Rd" name="Road" type="ORD"/>
		<shortHand key="Rd" name="Roads" type="ORD"/>
		<shortHand key="REFL" name="Reflection" type="ORD"/>
		<shortHand key="Sft" name="Shift" type="ORD"/>
		<shortHand key="Tot" name="Total" type="ORD"/>
		<shortHand key="Resid" name="Residential" type="ORD"/>
		<shortHand key="Term" name="Terminal" type="ORD"/>
		<shortHand key="Vlg" name="Village" type="ORD"/>
		<shortHand key="Prj" name="Project" type="ORD"/>
		<shortHand key="Indu" name="Industrial" type="ORD"/>
		<shortHand key="Intl" name="International" type="ORD"/>
		<shortHand key="Isl" name="Islands" type="ORD"/>
		<shortHand key="Isl" name="Island" type="ORD"/>
		<shortHand key="Lmt" name="Limits" type="ORD"/>
		<shortHand key="Lmt" name="Limit" type="ORD"/>
		<shortHand key="Svy" name="Surveys" type="ORD"/>
		<shortHand key="Svy" name="Survey" type="ORD"/>
		<shortHand key="Veg" name="Vegatation" type="ORD"/>		
		<shortHand key="" name="Zone" type="ORD"/>
		<shortHand key="" name="Zones" type="ORD"/>
	</shortHands>
</config>